.auth {
    width: 100%;
    min-height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
  }
  

  .swiper {
    width: 500px;
    height: 500px;
    --swiper-pagination-color: #FF5B79;
    --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.3);
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-opacity: 1;

  }
  .swiper-slide,
.swiper-slide-shadow,
.swiper-slide-duplicate {
  background-color: transparent  !important;
}

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
